body{
    font-family: sans-serif;
}
.container{
    width:400px;
    height:380px;
    border:1px solid black;
    padding:5px;
    background-color:#f1f1f1;
}
hr{
    width:90%;
}  
table,td{
    padding:6px;
} 
button{
    padding:7px;
    border-radius:5px;
    border-color: white;
    text-shadow:1px 1px 1px white;

}
h3{
    padding-left:12px;
}