<html>
<head>
    {% load static %}
    <link rel='stylesheet' href='{% static 'loan.css' %}'>
</head>    
<body>
    <div class='container'>
       <h4 class='p'>Loan Calculator</h4>
    <form method='POST'>
        {% csrf_token %}
        <p >Find the montly payment :</p>
        <table>
            <tr>
            <td><label>Loan Amount:&dollar;</label></td>
            <td> <input type='text' name='amount'></td>
            </tr>
        <tr>
            <td><label>Interset Rate:&percnt;</label></td>
            <td><input type = 'text' name='rate'></td>
        </tr>
        
        
        <tr><td><label>Number of Months :</label></td>
            <td><input type = 'text' name='month'></td>
        </tr>
        </table>
        
        <br>
        <button type='submit'>Calculate</button>

    </form>
    <div class='answer'>
    <p>Monthly payment = {{ans}}</p>
    <p>Total payment of all months = {{total_months}}</p>
    <p>Rate of interset money extra = {{extra_money}}</p>
    </div>
    </div>
</body>
</html>