body{
    font-family: Orbitron;
}
.outerdiv{
    border:1px solid black;
    width:365px;
    height:160px;
    border-radius:30px;
    position:relative;
    top:20;
    left:30;
    
}
.innerdiv{
    position:absolute;
    top:23;
    left:22;
    box-sizing: border-box;
    font-size:50px;
    font-family: Orbitron;
    padding:5px;
    border: 20px solid black;
    color:lightgreen;
    background-color:green;

}