<html>
<head>
    {% load static %}
    <link rel='stylesheet' href = '{% static  'ac.css' %}'>
<style>
 .hour{
    transform: rotate({{hr}}deg);
   
} 
.minute{
    transform: rotate({{mr}}deg);
    
}  
</style>
</head>    
<body>
    <div class='clock'>
    <div class='inner'>
        <span id='one'>1</span>
        <span id='two'>2</span>
        <span id='three'>3</span>
        <span id='four'>4</span>
        <span id='five'>5</span>
        <span id='six'>6</span>
        <span id='seven'>7</span>
        <span id='eight'>8</span>
        <span id='nine'>9</span>
        <span id='ten'>10</span>
        <span id='ele'>11</span>
        <span id='twl'>12</span>
        <span id='s'>.</span>
        <span class='stick second'></span>
        <span class='stick minute'></span>
        <span class='stick hour'></span>
    </div>
    </div>
</body>    
</html>